name: CI/CD Deploy Flask VA App

on:
  push:
    branches: ["main"]   # triggers on push to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Deploy to Kali Linux VM
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "
        cd /home/${{ secrets.SERVER_USER }}/Desktop/VA\ Report &&
        git pull &&
        pip3 install -r requirements.txt &&
        pkill -f 'python3 app.py' || true &&
        nohup python3 app.py &
        "
